<main>
    <!-- <div class="error-bg" style="display: none;">
        <div class="error">
            <h1>Error</h1>
            <p>CHUJ</p>
            <button>OK</button>
        </div>
    </div> -->
    <div class="start">
        <h1>Nic</h1>
        <p>Welcome, {{nickname}}</p>
        <label for="nick">Enter your nickname</label>
        <input type="text" id="nick" [(ngModel)]="nickname" (change)="ifnicknone()">
        <div class="buttons">
            <button [ngClass]="{'wybrany': gamejoin == false}" (click)="gamejoin = false">HOST</button>
            <button [ngClass]="{'wybrany': gamejoin == true}" (click)="gamejoin = true">JOIN</button>
        </div>
        @if (gamejoin == false){
            <button class="lobbybutton" (click)="gamelobby()" >Create Game</button>
            <input type="text" id="" [ngStyle]="{'visibility':'hidden'}">
        }
        @else {
            <button class="lobbybutton" (click)="gamelobby()">Join Game</button>
            <input type="text" [(ngModel)]="jcode">

        }
        
        
    </div>
</main>
